.introduction-area {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.7) 20%, rgba(0, 0, 0, 0.6) 40%), url("../images/index_bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.introduction-title{
    font-family: Noto Serif TC;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 25px;
    line-height: 1.4;
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 10px;
    position: relative;
    top: 250px;
    left: 50px;
    width: 300px;
}

.introduction-text {
    font-family: Noto Sans TC;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.8;
    color: rgba(255, 255, 255, 0.85);
    margin-bottom: 50px;
    position: relative;
    top: 250px;
    left: 50px;
    max-width: 600px;
}

.introduction-picture {
    height: 500px;
    width: 500px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
    position: relative;
    left: 680px;
    top: -300px;
}

.introduction-picture img {
    width: 100%;
  height: 100%;
  object-fit: cover;
}